<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.evancharlton.mileage" android:versionName="2.2.5" android:versionCode="2250">
	<uses-sdk android:minSdkVersion="3" android:targetSdkVersion="4"/>
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.VIBRATE"/>
	<supports-screens
		android:largeScreens="true"
		android:normalScreens="true"
		android:smallScreens="true"
		android:anyDensity="true"
	/>
	<application android:label="@string/app_name" android:icon="@drawable/gasbuttonx" android:debuggable="true">
		<provider android:name=".provider.FillUpsProvider" android:authorities="com.evancharlton.mileage" />
		<activity android:name=".Mileage" android:theme="@android:style/Theme.NoTitleBar">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity android:name=".FillupActivity" android:label="@string/title_fillup" />
		<activity android:name=".FillupListActivity" android:label="@string/title_fillup_list" />
		<activity android:name=".FieldActivity" android:label="@string/title_field" />
		<activity android:name=".FieldListActivity" android:label="@string/title_field_list" />
		<activity android:name=".VehicleActivity" android:label="@string/title_vehicle" />
		<activity android:name=".VehicleListActivity" android:label="@string/title_vehicle_list" />
		<activity android:name=".VehicleTypeActivity" android:label="@string/title_vehicle_type" />
		<activity android:name=".VehicleTypeListActivity" android:label="@string/title_vehicle_type_list" />
		<activity android:name=".ServiceIntervalActivity" android:label="@string/title_service_interval" />
		<activity android:name=".ServiceIntervalsListActivity" android:label="@string/title_service_interval_list" />
		<activity android:name=".ServiceIntervalTemplateActivity" android:label="@string/title_service_interval_template" />
		<activity android:name=".ServiceIntervalTemplateListActivity" android:label="@string/title_service_interval_template_list" />
		<activity android:name=".SettingsActivity" android:label="@string/title_settings" />
		<activity android:name=".TransportSettingsActivity" android:label="@string/title_transport_settings" />
		<activity android:name=".VehicleStatisticsActivity" android:label="@string/title_statistics" />
		<activity android:name=".charts.AverageFuelEconomyChart" android:label="@string/title_chart_avg_economy" />
		<activity android:name=".charts.WorstFuelEconomyChart" android:label="@string/title_chart_min_economy" />
		<activity android:name=".charts.BestFuelEconomyChart" android:label="@string/title_chart_max_economy" />
		<activity android:name=".charts.AverageDistanceChart" android:label="@string/title_chart_avg_distance" />
		<activity android:name=".charts.MinimumDistanceChart" android:label="@string/title_chart_min_distance" />
		<activity android:name=".charts.MaximumDistanceChart" android:label="@string/title_chart_max_distance" />
		<activity android:name=".charts.AverageCostChart" android:label="@string/stat_avg_cost" />
		<activity android:name=".charts.MaximumCostChart" android:label="@string/stat_max_cost" />
		<activity android:name=".charts.MinimumCostChart" android:label="@string/stat_min_cost" />
		<activity android:name=".charts.TotalCostChart" android:label="@string/stat_total_cost" />
		<activity android:name=".charts.LastMonthCostChart" android:label="@string/title_chart_last_month_cost" />
		<activity android:name=".charts.LastYearCostChart" android:label="@string/title_chart_last_year_cost" />
		<activity android:name=".charts.AveragePriceChart" android:label="@string/stat_avg_price" />
		<activity android:name=".charts.MinimumPriceChart" android:label="@string/stat_min_price" />
		<activity android:name=".charts.MaximumPriceChart" android:label="@string/stat_max_price" />
		<activity android:name=".charts.AverageVolumeChart" android:label="@string/stat_avg_fuel" />
		<activity android:name=".charts.MinimumVolumeChart" android:label="@string/stat_min_fuel" />
		<activity android:name=".charts.MaximumVolumeChart" android:label="@string/stat_max_fuel" />
		<activity android:name=".charts.TotalVolumeChart" android:label="@string/stat_total_fuel" />
		<activity android:name=".charts.NorthChart" android:label="@string/stat_north" />
		<activity android:name=".charts.SouthChart" android:label="@string/stat_south" />
		<activity android:name=".charts.EastChart" android:label="@string/stat_east" />
		<activivy android:name=".charts.WestChart" android:label="@string/stat_west" />
	</application>
</manifest> 
