<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.evancharlton.mileage" android:versionName="2.2.4" android:versionCode="2240">
	<uses-sdk android:minSdkVersion="3" android:targetSdkVersion="4"/>
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.VIBRATE"/>
	<supports-screens
		android:largeScreens="true"
		android:normalScreens="true"
		android:smallScreens="true"
		android:anyDensity="true"
	/>
	<application android:label="@string/app_name" android:icon="@drawable/gasbuttonx">
		<meta-data android:name="org.openintents.updatechecker.UPDATE_URL" android:value="http://evancharlton.com/projects/mileage/version" />
		<provider android:name="FillUpsProvider" android:authorities="com.evancharlton.provider.Mileage" />
		<activity android:name=".Mileage" android:theme="@android:style/Theme.NoTitleBar">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity android:name="HistoryView"/>
		<activity android:name="VehiclesView" android:label="@string/vehicles"/>
		<activity android:name="FillUpView" android:label="@string/fillup_edit"/>
		<activity android:name="AddVehicleView" android:label="@string/vehicle_add"/>
		<activity android:name="EditVehicleView" android:label="@string/vehicle_edit"/>
		<activity android:name="StatisticsView"/>
		<activity android:name="ImportExportView" android:label="@string/import_export"/>
		<activity android:name="SettingsView" android:label="@string/settings"/>
		<activity android:name="AddFillUpView"/>
		<activity android:name=".io.output.DBView" android:label="@string/export_sqlite"/>
		<activity android:name=".io.output.CSVView" android:label="@string/export_csv"/>
		<activity android:name=".io.output.SQLView" android:label="@string/export_sql"/>
		<activity android:name=".io.input.DBView" android:label="@string/import_sqlite"/>
		<activity android:name=".io.input.CSVView" android:label="@string/import_csv"/>
		<activity android:name=".io.input.SQLView" android:label="@string/import_sql"/>
		<activity android:name=".views.ChartsView"/>
		<activity android:name="org.achartengine.GraphicalActivity" android:theme="@android:style/Theme.NoTitleBar" />
		
		<!-- For the maintenance intervals -->
		<receiver android:name=".alarms.IntervalReceiver" android:process=":remote"/>
		<activity android:name=".views.intervals.ServiceIntervalsView" android:label="@string/service_intervals"/>
		<activity android:name=".views.intervals.AddServiceIntervalView" android:label="@string/add_service_interval"/>
		<activity android:name=".views.intervals.EditServiceIntervalView" android:label="@string/edit_service_interval"/>
	</application>
</manifest> 